.DS_Store
unitanks/Temp/
unitanks/obj/

unitanks/Library/*
unitanks/Library/cache
unitanks/Library/metadata
unitanks/Library/previews
unitanks/Library/ScriptAssemblies
unitanks/Library/cache/*
unitanks/Library/metadata/*
unitanks/Library/previews/*
unitanks/Library/ScriptAssemblies/*

*.svd
*.userprefs
*.suo
*.sln
unitanks/Assembly-CSharp-vs.csproj
unitanks/Assembly-CSharp.csproj
unitanks/Assembly-CSharp.pidb
unitanks/Assembly-UnityScript-firstpass-vs.unityproj
unitanks/Assembly-UnityScript-firstpass.pidb
unitanks/Assembly-UnityScript-firstpass.unityproj
